#poem{ role: 'main' }
  .row
    .two.columns
      %h2 Prompt:
    .nine.columns.offset-by-one
      .prompt-content
        %h2= link_to @presenter.prompt, '#'

  .row
    .eight.columns.offset-by-one
      = @presenter.poem
