%li.prompt
  .panel.radius
    .content
      =link_to prompt.content, prompt_path(prompt)
      (#{pluralize(prompt.poems.count, "response")})
    - if current_user.poems.for(prompt).any?
      - latest = current_user.poems.for(prompt).first
      .response-time
        %em= link_to "(you last responded on #{latest.created_at})", poem_path(prompt, latest)
