%li.prompt
  .panel.radius
    .content
      =link_to prompt.content, prompt_path(prompt)
      (#{pluralize(prompt.poems.count, "response")})
    - latest = current_user.poems.for(prompt).first
    - if latest
      .response-time
        %em= link_to "(you last responded on #{latest.created_at})", poem_path(latest)
