#prompts{ role: 'main' }
  .row
    .four.columns
      %label{ for: 'prompt_search' }
        Search for a prompt:
        = text_field_tag :prompt_search

  .row
    .twelve.columns
      %ul.prompts
        = render :partial => 'prompt', :collection => @prompts
        %li.no-matches
          No prompts match your search...
