#prompts{ role: 'main' }
  .row
    .three.columns
      = text_field_tag :prompt_search


  .row
    .seven.columns
      %ul.prompts
        = render :partial => 'prompt', :collection => @prompts
        %li.no-matches
          No prompts match your search...
