#prompt{ role: 'main' }
  .row
    .two.columns
      %h2 Prompt:
    .nine.columns.offset-by-one
      .prompt-content
        %h2= @prompt.content

  .row
    .four.columns.centered
      = link_to "Write your own", new_poem_path(prompt_id: @prompt)

  .row
    .twelve.columns
      %h2 Responses

      %ul
        - @prompt.poems.each do |poem|
          %li
            = link_to truncate(poem.content), poem_path(@prompt.id, poem.id)
            (by #{link_to display_name_accusative(poem.user), profile_path(poem.user)})
