= @prompt.content

%h1 Responses

%ul
  - @prompt.poems.each do |poem|
    %li
      = link_to truncate(poem.content), prompt_poem_path(@prompt.id, poem.id)
      (by #{poem.user.email})

%hr/

= link_to "Write a poem", new_prompt_poem_path(@prompt)
