#prompt{ role: 'main' }
  .row
    .seven.columns
      %h4= @prompt.content

    .four.columns
      %a{href: new_poem_path(prompt_id: @prompt)}
        .panel.callout.new-poem
          Write your own poem

  .row
    .eight.columns
      %h2 Poems

      %ul.panel-list
        = render @prompt.poems
