#profile{ role: 'main' }
  .row
    .six.columns
      %h2 My Prompts

      = link_to "Create a new prompt", new_prompt_path

      %ul
        - current_user.prompts.each do |prompt|
          %li=link_to "#{prompt.content} (#{pluralize prompt.poems.count, "response"})", prompt_path(prompt)

    .six.columns
      %h2 My Poems
      %ul
        - current_user.poems.each do |poem|
          %li=link_to "#{poem.content}", poem_path(poem)


