div.poem
  ol.stanza
    padding-top: 1em
    list-style: none
    font-family: serif
    &:last-child
      padding-bottom: 1em

    li.indent
      padding-left: 4em

li.poem
  list-style: none
  .panel
    padding: .5em
    margin: .5em
    .first-line
      font-family: serif
    .author
      margin-left: 50%

.new-poem
  padding: 1em

.poem-data .prompt .prompt-content
  margin-top: 5px
  padding-top: 5px

