ul.prompts
  li
    padding: 5px
    margin: 5px
    list-style: none
    background-color: #99a
    width: 50%
    border-radius: 5px
    -moz-border-radius: 5px

    .response-time
      margin-left: 20px
      font-size: smaller

.no-prompts
  display: none
