.row
  .twelve.columns
    %h2 My Settings
.row
  .four.columns
    %h3 Change my name
    %span.success.round.label.name-label
      Name Updated!
    %span.alert.round.label.name-label
      Whoops...
    = text_field_tag :name, current_user.name, id: 'settings_name'
  .four.columns
    %h3 Change my email
    TBI
  .four.columns
    %h3 Change my password
    TBI
